html, body {
  margin: 0;
  padding: 0;
}

.startButton {
  width:200px;
  height:30px;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
  background-color:transparent;
  font-size: 20px;
  outline:none;
  color:white;
  text-align: center;
}

.Welcome {
  font-size: 40px;
  color: white;
  text-align: center;
}